<% errors = model.errors %>

<% if errors.any? %>
<div class="alert alert-danger">
  <div class="lead buffer-bottom">
    <%= t('views.partials.form_errors') %><%= t :mistake, count: errors.count %>
  </div>
  <ul>
    <% model.errors.each do |error| %>
    <li><%= error.attribute %> <%= error.message %></li>
    <% end %>
  </ul>
</div>
<% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
