<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= render "devise/shared/error_messages" , resource: resource %>
<main class="form-signin text-center">
  <form>
    <img class="mb-4" src="https://www.eventer.cc/wp-content/uploads/2019/01/logo-carre%CC%81-1-1.png" alt="Eventer" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal"><%= t('.forgot_your_password') %></h1>
    <div class="form-floating">
      <%= f.text_field :email, autofocus: true, type: "email", class: "form-control" ,
            id: "floatingInput" %>
      <label for="floatingInput"><%= t('activerecord.attributes.user.email')%></label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit"><%= t('.send_me_reset_password_instructions') %></button>
  </form>
  <%= render "devise/shared/links" %>
</main>
<% end %>
