<main class="form-signin text-center">
<h1 class="h3 mb-3 fw-normal"><%= t('views.events.password_form.header') %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-floating">
    <%= text_field_tag :pincode, params[:pincode], autofocus: true, type: "password", class: 'form-control', id: "floatingInput" %>
    <label for="floatingInput"><%= t('activerecord.attributes.event.pincode')%></label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit"><%= t('views.events.password_form.submit') %></button>
<% end %>

<%= link_to 'На главную', events_path %>

</main>
