<h1><%= t '.title' %></h1>
<p><%= t '.name' %>: <strong><%= @name %></strong></p>
<p><%= t '.email' %>: <strong><%= link_to @email, "mailto:#{@email}" %></strong></p>

<hr/>

<%= t '.event' %>: <%= link_to @event.title, @event %>
<%= t '.datetime' %> <%= l @event.datetime %>
<%= t '.owner' %>: <%= @event.user.name %>
